agente-ia-aula-kWhuDv3IGRu2wWbx.json
{"createdAt":"2024-12-18T18:19:29.530Z","updatedAt":"2024-12-22T13:46:40.000Z","id":"kWhuDv3IGRu2wWbx","name":"Agente IA Aula","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"plas-3","options":{}},"id":"87eae94e-ba83-4088-92ca-3d6ef7cd35ce","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1140,520],"webhookId":"10f5e07f-f151-4fd3-bd95-61c3eae6db0c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a564621-0e4c-42d6-9421-0de3e8df6a2f","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"593c96e4-8371-4872-b8f6-9f2dc33061c8","name":"Form Me","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1560,520],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"211df041-b8cb-4130-876b-9b86942205c6","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"5491134693981@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0569aeb3-5dc6-435c-9281-9a956f0ee333","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"5491143991466@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"012eb8c6-09e7-4532-b464-0e4d78d0eae4","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1340,520],"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5560047-2b34-4121-ad05-1b3de249d8c2","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8fe9d75b-6f2e-4db2-a7f8-e461bef9eea5","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"id":"48d61d55-d2ce-4997-ae44-a66dc2c96f21","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1780,520]},{"parameters":{"operation":"push","list":"={{ $json.body.data.key.remoteJid }}","messageData":"={{ $json.body.data.message.conversation }}","tail":true},"id":"18bfcfdc-e29c-4063-b554-9116a2b29653","name":"Text Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2000,520],"credentials":{"redis":{"id":"5r0XeBwNuGc5cw0c","name":"Miancho Redis account"}}},{"parameters":{"operation":"push","list":"={{ $json.body.data.key.remoteJid }}","messageData":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"speechToText\"] }}","tail":true},"id":"0028a7d9-ee4c-4e8a-a5ce-918ce578d6d3","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2000,720],"credentials":{"redis":{"id":"5r0XeBwNuGc5cw0c","name":"Miancho Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","options":{}},"id":"83bad5eb-4e7f-4f85-a0a7-540ee5f5ce48","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2280,520],"credentials":{"redis":{"id":"5r0XeBwNuGc5cw0c","name":"Miancho Redis account"}}},{"parameters":{"amount":10},"id":"40796cce-ad80-406d-ab2f-505aba60438f","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2500,520],"webhookId":"1a3eb4e1-07f7-48ae-903e-ee16ba353c16"},{"parameters":{"operation":"get","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","options":{}},"id":"bb11fa28-4fae-43f4-8607-d129f780a24e","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2680,520],"credentials":{"redis":{"id":"5r0XeBwNuGc5cw0c","name":"Miancho Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6f5bf7f5-f56d-4f59-b8b9-292f9cdff431","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"2f99db83-929c-4071-a553-a54ec73d7273","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"6aaab291-e371-458c-9def-638e92e6ae88","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2900,520]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec6fe6ec-01e3-46ed-a322-25773a2fb078","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"3c1eca9b-3635-49f9-a0ce-004e108772db","name":"Compara Get Memory","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3120,520]},{"parameters":{"jsCode":"const data = $item(0).$node[\"Compara Get Memory\"].json[\"Redis2\"]; // Obtém o valor de Redis2 do nó \"If\"\n\n// Verifica se o dado é uma string que representa um array, e converte se necessário\nlet array = Array.isArray(data) ? data : JSON.parse(data);\n\n// Junta os elementos do array com um espaço entre eles\nconst mensagem_completa = array.join(\" \");\n\n// Retorna o resultado com o nome da variável \"mensagem_completa\"\nreturn [{ json: { mensagem_completa } }];\n"},"id":"9293ac45-487e-407c-8ed0-e8603c10a527","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,500]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","contextWindowLength":20},"id":"e683d5e2-de35-4dd7-9e19-d930b9eb8920","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[3820,740],"credentials":{"postgres":{"id":"T3JA5qmOGOrgmcpJ","name":"Postgres Miancho"}}},{"parameters":{"method":"POST","url":"suaurl/message/sendText/instancia","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apiKey"}]},"options":{}},"id":"278d4f50-1296-438d-8ce3-d3c95d83e94a","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4000,500]},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_VnK9n2JuR47gqki8j9tMpiZX","mode":"list","cachedResultName":"Asistente 1"},"prompt":"define","text":"Mensagem do usuário: {{ $item(\"0\").$node[\"Code\"].json[\"mensagem_completa\"] }}\n\nData da mensagem: {{ $now }}","options":{}},"id":"4c2993c0-a317-4e23-8bc8-c36930ddc2b8","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3620,500],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}}],"connections":{"Webhook":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Form Me","type":"main","index":0}]]},"Form Me":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Text Memory","type":"main","index":0}],[{"node":"Audio Memory","type":"main","index":0}]]},"Text Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Compara Get Memory","type":"main","index":0}]]},"Compara Get Memory":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"OpenAI","type":"ai_memory","index":0}]]},"OpenAI":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d93be5a2-24d0-4efc-bc36-e565367ab286","triggerCount":0,"tags":[]}