demo_agent.json
{"createdAt":"2024-09-27T22:00:27.564Z","updatedAt":"2024-10-13T01:32:37.000Z","id":"rXw1gR0Xgq9WIIsw","name":"demo_agent","active":false,"nodes":[{"parameters":{},"id":"6cbd9e43-781e-4d8d-9c2b-455b0a7f4ace","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","typeVersion":1.1,"position":[800,700]},{"parameters":{"model":"gpt-4o","options":{}},"id":"c4f8a69c-82bb-4d9f-9094-c33de7fb1f2c","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1240,780],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{"name":"send_email","description":"Call this tool when you need to send an email.","workflowId":{"__rl":true,"value":"SaTwVb6Bu5coAugD","mode":"list","cachedResultName":"send_email"},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"[\n  {\n    \"query\": \"sendTo=&subject=&emailType=text&message=&appendAttribution=false&bccList=&ccList=&senderName=\"\n  }\n]"},"id":"b00f1394-ae14-4993-8e7d-517cd46dee82","name":"send_email","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1540,820]},{"parameters":{"name":"Contacts_Data","description":"Call this to retrieve information about contacts like email address."},"id":"932a5ef8-f4f6-4077-bc4b-d26b408aa34e","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1780,780]},{"parameters":{"model":"gpt-4o","options":{}},"id":"7bedf646-e1a7-4b22-8595-0d12f7ae60d7","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1880,1000],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"64d1d49d-e568-44ee-ae05-4e0f0a038e2d","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1660,1160],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"Contexto: El agente recibe mensajes de chat, donde el contenido de estos mensajes se procesa mediante un modelo de lenguaje y herramientas de almacenamiento vectorial. La finalidad es enviar correos electrónicos automáticos basados en la información recibida y procesada. El agente está equipado con capacidades de memoria, análisis de herramientas, y un parser de salida para enviar correos con datos precisos.\n\nInstrucciones:\n\nCuando el agente reciba un mensaje de chat, primero debe procesarlo utilizando el modelo de lenguaje de OpenAI.\nA continuación, debe buscar en el almacén vectorial (Pinecone Vector Store) para obtener cualquier información relacionada o respuesta que deba incluirse en el correo electrónico.\nSi la información necesaria está en el almacén vectorial, utilice esta para complementar el cuerpo del correo.\nEl correo electrónico debe enviarse automáticamente utilizando el servicio send_email con los parámetros adecuados.\nParámetros para el correo electrónico:\n\nsendTo: Dirección de correo electrónico del destinatario. Este valor se obtiene del mensaje de chat o de los datos almacenados.\nsubject: Asunto del correo. Puede derivarse del tema del mensaje de chat o ser predefinido según el contexto de la conversación.\nemailType: Formato de contenido del correo electrónico. Este valor debe ser \"text\".\nmessage: El cuerpo del correo electrónico, que debe contener la información procesada del mensaje y los datos relevantes del almacén vectorial.\nSign off the email from Damian","returnIntermediateSteps":true}},"id":"00bf1a91-b0d3-4e84-a5ee-e39befa287f7","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1440,560]},{"parameters":{"pineconeIndex":{"__rl":true,"value":"aiemailagentn8n","mode":"list","cachedResultName":"aiemailagentn8n"},"options":{"pineconeNamespace":"Contacts"}},"id":"77cf69ba-4414-4868-9728-432f7d0bbe0a","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1580,1000],"credentials":{"pineconeApi":{"id":"eg2oJL2kIVhq46XD","name":"PineconeApi account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"send_email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e8420d04-89a0-4321-9646-c58ab86b59fa","triggerCount":2,"tags":[]}