estefania_mancini_rag-ai-agent.json
{"createdAt":"2024-10-06T15:05:33.807Z","updatedAt":"2024-10-10T18:10:04.000Z","id":"XywEDOekH90iDA60","name":"estefania_mancini_RAG AI Agent","active":true,"nodes":[{"parameters":{"model":"gpt-4o-mini","options":{"temperature":1}},"id":"468b28aa-7950-4544-b2d7-f13ba3179c07","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[860,760],"credentials":{"openAiApi":{"id":"Y7KBTYQBKW2LxWmE","name":"Estefania Mancini OpenAi"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"f91dc1f8-31ac-4867-b999-0d2040d9ed76","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1000,1300]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"6b47c339-945f-47c0-8ef7-29c0946f4f15","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[840,1300],"credentials":{"openAiApi":{"id":"Y7KBTYQBKW2LxWmE","name":"Estefania Mancini OpenAi"}}},{"parameters":{"name":"user_documents","description":"Contiene todos los documentos del usuario que puede consultar en busca de contexto para responder a sus preguntas.","topK":20},"id":"2c4f6836-20dc-4270-b1ce-b95774f44397","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[640,580]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"0e151ff8-5b9a-4a4e-88ca-0dcdecc0d976","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"af589861-b8f0-41be-8092-2b32e47369ed","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-760,1000]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"5087510a-5614-4a18-8e4a-73ddf6759a81","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[340,1180],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1K6WS9aszEVQUZwylz9C4CAQeEiZ53jRu","mode":"list","cachedResultName":"Estefania Mancini","cachedResultUrl":"https://drive.google.com/drive/folders/1K6WS9aszEVQUZwylz9C4CAQeEiZ53jRu"},"event":"fileCreated","options":{}},"id":"650b48cc-a4ba-4cf3-a98a-49eb8edd1878","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,1080],"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1K6WS9aszEVQUZwylz9C4CAQeEiZ53jRu","mode":"list","cachedResultName":"Estefania Mancini","cachedResultUrl":"https://drive.google.com/drive/folders/1K6WS9aszEVQUZwylz9C4CAQeEiZ53jRu"},"event":"fileUpdated","options":{}},"id":"ceff23c3-59c7-48a8-a4e7-cade774a8891","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,1300],"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"85c594bd-c973-4d1f-9eb4-64c4e7f6e78b","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[600,1180],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"ab10e82c-e88f-4645-be20-cd90b40a01b7","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[680,860],"credentials":{"openAiApi":{"id":"Y7KBTYQBKW2LxWmE","name":"Estefania Mancini OpenAi"}}},{"parameters":{"chunkOverlap":250,"options":{}},"id":"164d0735-7b61-4e96-8404-5213f3b85828","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1000,1500]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"2f882f82-20ae-4220-bb6f-3b91dcb8eb4e","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[40,1180],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"3A2X9oV7aDvCLzHJ","name":"Estefania Mancini Supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"ede463ea-2c99-4b05-b637-b91e692a60ef","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-280,1180]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"8d8aaee7-8c9f-4077-9da4-5a20a72230bc","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,520]},{"parameters":{"public":true,"mode":"webhook","options":{}},"id":"7881bc90-7254-415a-9215-f612c5f21ff3","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-200,640],"webhookId":"42ebbaba-13b3-4107-b07f-d5b23fbea9a0"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are Estepi, the dedicated virtual assistant of Estefania Mancini, an expert in biotechnology and bioinformatics. Your task is to accurately and comprehensively answer all visitor questions about Estefania using the information provided in the documents as context. Maintain a professional, clear, and friendly tone in all your responses. If the information is not found in the documents, politely indicate that you do not have the answer at the moment but will do your best to obtain it."}},"id":"a3af8fea-6369-4ecc-baa8-206e1499cb6d","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[140,600]},{"parameters":{},"id":"86ba9a37-c888-473b-8b78-cf485f99b030","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[240,820],"credentials":{"postgres":{"id":"79BmVpk72v7ztREJ","name":"Postgres account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"d2248f9c-1ca9-4791-96b9-5c80f959bf96","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[520,740],"credentials":{"supabaseApi":{"id":"3A2X9oV7aDvCLzHJ","name":"Estefania Mancini Supabase"}}},{"parameters":{"model":"gpt-4o-mini","options":{"temperature":0.7}},"id":"0fed4dbe-d219-4c00-8546-25f72ad97f0c","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[60,820],"credentials":{"openAiApi":{"id":"Y7KBTYQBKW2LxWmE","name":"Estefania Mancini OpenAi"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"7db6df9a-8358-434e-a8f8-53457908905a","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[880,1080],"credentials":{"supabaseApi":{"id":"3A2X9oV7aDvCLzHJ","name":"Estefania Mancini Supabase"}}}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2024-10-12T21:27:24Z"},"node:File Updated":{"lastTimeChecked":"2024-10-12T21:27:24Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"21c139c4-7fc0-42c5-bf61-98526a465c03","triggerCount":4,"tags":[]}