estefania-mancini-rag-h0GMfQp6qiqAjhwj.json
{"createdAt":"2024-11-18T23:21:40.132Z","updatedAt":"2024-12-21T23:47:30.000Z","id":"h0GMfQp6qiqAjhwj","name":"Estefania Mancini RAG","active":true,"nodes":[{"parameters":{"options":{"temperature":1}},"id":"6dacb11b-c87f-4daa-8be9-0905cc7a292e","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2580,440],"credentials":{"openAiApi":{"id":"GkSkb2nnTgeTjUbs","name":"OpenAi Estefania Mancini"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"0bace944-9030-4ba0-86f2-d5aac30e1e0b","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2720,980]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"ca5e9f24-52c9-4db4-81e7-2bcfcaf3264f","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2560,980],"credentials":{"openAiApi":{"id":"GkSkb2nnTgeTjUbs","name":"OpenAi Estefania Mancini"}}},{"parameters":{"name":"user_documents","description":"Contiene todos los documentos del usuario que puede consultar en busca de contexto para responder a sus preguntas.","topK":20},"id":"d776a9c5-b3de-4166-b7fc-4a2da0c231f4","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2360,260]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"d012ffd9-62b7-473e-a94b-d5bed4b4cebe","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2180,140]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"e727302f-727f-4fc0-baef-e5097d714a9d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,680]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"fd76f997-f7a5-4700-9bf1-def7ab58b829","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2060,860],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"JEXQogZuqqvaMvse","name":"Google Drive Estefania Mancini"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1K6WS9aszEVQUZwylz9C4CAQeEiZ53jRu","mode":"list","cachedResultName":"Estefania Mancini","cachedResultUrl":"https://drive.google.com/drive/folders/1K6WS9aszEVQUZwylz9C4CAQeEiZ53jRu"},"event":"fileCreated","options":{}},"id":"e1e8f438-8e00-447c-acee-1aa336a105e4","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[1020,760],"credentials":{"googleDriveOAuth2Api":{"id":"JEXQogZuqqvaMvse","name":"Google Drive Estefania Mancini"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1K6WS9aszEVQUZwylz9C4CAQeEiZ53jRu","mode":"list","cachedResultName":"Estefania Mancini","cachedResultUrl":"https://drive.google.com/drive/folders/1K6WS9aszEVQUZwylz9C4CAQeEiZ53jRu"},"event":"fileUpdated","options":{}},"id":"237731bf-da3e-4b31-aef4-6c014fbc64c0","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[1020,980],"credentials":{"googleDriveOAuth2Api":{"id":"JEXQogZuqqvaMvse","name":"Google Drive Estefania Mancini"}}},{"parameters":{"operation":"text","options":{}},"id":"8978cd9a-1d51-48af-88eb-cd33da1510be","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2320,860],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"7235bae3-8f88-4db9-8b84-f24ce34185b5","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2400,540],"credentials":{"openAiApi":{"id":"GkSkb2nnTgeTjUbs","name":"OpenAi Estefania Mancini"}}},{"parameters":{"chunkOverlap":250,"options":{}},"id":"083849f1-adfb-4880-84f6-bc688d35f3c2","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2720,1180]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"726b4891-c6f0-4602-a49a-a70d0d302401","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1760,860],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"bYKpWEeCDlrcs29v","name":"Supabase Estefania Mancini"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"a06c4045-c507-469b-b9b5-9e291854282e","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,860]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"5d41b1ee-fbf5-4a1a-b667-1d9c74344344","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1480,200]},{"parameters":{},"id":"22d1840b-ace1-46e0-8e93-77a9f17f9c9e","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[1960,500],"credentials":{"postgres":{"id":"pSfwHuaoiD9tDsns","name":"Postgres Estefania Mancini"}}},{"parameters":{"options":{"temperature":0.7}},"id":"6c050619-df39-42b3-ab95-51fa281a9a3d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1780,500],"credentials":{"openAiApi":{"id":"GkSkb2nnTgeTjUbs","name":"OpenAi Estefania Mancini"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"0becd6cb-2594-4b4d-906f-99d932becfee","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2600,760],"credentials":{"supabaseApi":{"id":"bYKpWEeCDlrcs29v","name":"Supabase Estefania Mancini"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"40c0744e-6bae-4556-9eb3-b981518e70b7","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2240,420],"credentials":{"supabaseApi":{"id":"bYKpWEeCDlrcs29v","name":"Supabase Estefania Mancini"}}},{"parameters":{"public":true,"mode":"webhook","options":{}},"id":"7aaed1aa-23ea-4e0f-ac98-7f36132b9257","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1520,320],"webhookId":"42ebbaba-13b3-4107-b07f-d5b23fbea9a0"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Tu nombre es Estepi.\n\nAI Agent for Bioinformatics Consulting Agency\nCreate an AI agent to respond to queries from website visitors and promote the sale of our bioinformatics consulting services.\n\nThe agent should be able to resolve general questions and guide the visitor towards our services naturally and effectively. It should foster a personalized dialogue, show empathy, and highlight the benefits that these consulting services will bring to the potential client, without being insistent or aggressive in the offer.\n\nAgent Objectives\nAnswer visitors' questions or queries on the website clearly and accurately.\nActively promote bioinformatics consulting services, highlighting specific benefits based on the visitor's inquiry.\nConversation Strategy\nDetect the visitor's query and provide an initial helpful response. Responses should be concise and focused on providing direct assistance, showing knowledge and respect for the received inquiry.\nIdentify the user's needs. As the conversation progresses, try to understand if the user could benefit from our bioinformatics consulting services.\nNaturally propose our consulting services. After providing helpful information, recommend our consulting services by highlighting how they could specifically solve the client's problem.\nCreate gentle urgency and CTA. Suggest a clear additional step, such as learning more about our services or scheduling a consultation, always in a friendly manner.\nCommunication Style\nEmpathetic and Personalized: Use warm and friendly language. Use the client's name if provided and customize responses accordingly to the context.\nInformative yet Conversion-Oriented: The agent must provide enough and necessary technical information but always with the focus of adding value and guiding the visitor to using our consulting services.\nNon-Overbearing: Suggest our consulting services efficiently, but without being excessively insistent or annoying in the promotion.\nOutput Format\nConversational Structure: Responses should be in a conversational format, with short and clear sentences that encourage dialogue.\nIntegrated Sales Proposals: Insert subtle sales phrases at the appropriate moment in the conversation.\nCalls to Action (CTA): Recommend, at the end of the response, a concrete next step, such as scheduling a consulting session or sending an email.\nExamples\nExample 1\nUser Request: \"Do you offer help with genomic data analysis?\"\n\nAgent Response:\n\n\"Absolutely! We specialize in genomic data analysis, helping clients interpret complex datasets to derive meaningful insights. This could significantly enhance your research outcomes. Would you like to learn more about our Genomic Consulting services, or perhaps schedule a brief call to discuss your specific needs?\"\n\nExample 2\nUser Request: \"How can I improve my bioinformatics pipeline?\"\n\nAgent Response:\n\n\"Improving a bioinformatics pipeline often involves optimizing data processing and analysis workflows. In our consulting sessions, we provide tailored strategies to streamline your processes and enhance efficiency. If you're interested, I’d be happy to share more about how we can assist you in refining your pipeline. 😊\"\n\nNotes\nAdapt the Commercial Strategy: Not all visitors will be ready to acquire consulting services, so the agent must be able to provide support and reserve the offer when it makes sense.\nBalance between Response and Promotion: Responses should first offer genuine value. The promotion of services should always arise naturally and as an added way to assist the visitor.\nHandling Objections: If the user shows any resistance, the agent should be able to provide more information without pressure, emphasizing how our consulting services can benefit them in a more subtle and personalized way.\nThis adaptation maintains the original structure while focusing on the specific context of bioinformatics consulting, ensuring that the agent can effectively engage with visitors and promote services in a relevant manner."}},"id":"bf24f22b-ac8c-4d4c-8a8b-15c6176ac4e1","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1860,280]}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2024-12-24T02:30:59Z"},"node:File Updated":{"lastTimeChecked":"2024-12-24T02:30:59Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"43610ef2-8091-4727-b3d0-288876b623f1","triggerCount":4,"tags":[]}