estefania---form-5CMWkMzdCe1bzZ1z.json
{"createdAt":"2024-12-02T18:17:37.294Z","updatedAt":"2024-12-21T23:47:45.000Z","id":"5CMWkMzdCe1bzZ1z","name":"Estefania - Form","active":false,"nodes":[{"parameters":{"formTitle":"Formulario Prueba","formDescription":"Consulta de producto.","formFields":{"values":[{"fieldLabel":"¿Cual es tu nombre?","placeholder":"tu nombre","requiredField":true},{"fieldLabel":"¿Cual es tu mail?","fieldType":"email","requiredField":true},{"fieldLabel":"¿Tienes página web?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Si"},{"option":"No"}]},"requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Enviar!"}},"id":"cffdda44-0853-44d8-bfd3-880b062ad26a","name":"On form submission","type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[820,380],"webhookId":"c101e87f-bccc-44eb-8c32-3f97518f3b4b"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1CF3skmfov-GfS6hIb2xnMgDZAX21StmjArBxOzFjnXA","mode":"list","cachedResultName":"Formulario N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CF3skmfov-GfS6hIb2xnMgDZAX21StmjArBxOzFjnXA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"respuestas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CF3skmfov-GfS6hIb2xnMgDZAX21StmjArBxOzFjnXA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $json['¿Cual es tu nombre?'] }}","Mail":"={{ $json['¿Cual es tu mail?'] }}","Servicio":"={{ $json['¿Qué servicio necesitas?'] }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"37022d90-c2df-4f6b-acaa-441cdef20b6a","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1240,380],"credentials":{"googleSheetsOAuth2Api":{"id":"xginBpE59jYRrrhk","name":"Google Sheets Estefania Mancini"}}},{"parameters":{"sendTo":"={{ $json.Mail }}","subject":"Hola, tienes Pagina Web, te interesa un BOT","message":"=Acá iría el explicativo para {{ $json.Nombre }}","options":{"appendAttribution":false}},"id":"f6c1c567-ef7e-47cc-88de-1fd8ba90540e","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2140,-160],"webhookId":"77ea58bf-42c7-4248-81fd-507c3de0f444","credentials":{"gmailOAuth2":{"id":"ILkhg6xFaD5p234c","name":"Estefania Gmail account"}}},{"parameters":{"sendTo":"={{ $json.Mail }}","subject":"Hola, estas interesado en Chatbots","message":"Acá iría el explicativo de Chatbots","options":{}},"id":"b0166257-002e-4663-92e4-07ee448662a1","name":"Gmail1","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2280,380],"webhookId":"61251e39-97fb-4cdb-82b2-8c877032adff","credentials":{"gmailOAuth2":{"id":"ILkhg6xFaD5p234c","name":"Estefania Gmail account"}}},{"parameters":{"sendTo":"={{ $json.Mail }}","subject":"Hola, estas interesado en Automatizaciones","message":"Acá iría el explicativo de Automatizaciones","options":{}},"id":"02f6891f-8ae6-4841-bb14-a05882d150a5","name":"Gmail2","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2280,580],"webhookId":"af9c5b19-fe88-410c-8e53-8bb78e78ae64","credentials":{"gmailOAuth2":{"id":"ILkhg6xFaD5p234c","name":"Estefania Gmail account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Servicio }}","rightValue":"Página Web","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Página Web"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8aae7d8b-16bf-4467-beb5-d3d71880cd49","leftValue":"={{ $json.Servicio }}","rightValue":"Chatbot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Chatbot"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb67c4f4-e84b-42d3-82d0-4fe716c5c231","leftValue":"={{ $json.Servicio }}","rightValue":"Automatizaciones","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Automatizaciones"}]},"options":{}},"id":"920d3b24-2dda-49f0-8dab-5b610d2f4f43","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1500,380]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0271487-2fb2-44bc-ab2b-ed0b656fba8e","leftValue":"={{ $('On form submission').item.json['¿Tienes página web?'] }}","rightValue":"Si","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"dbd1e344-5c0d-420e-ac4b-4f246935a0b9","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,80]}],"connections":{"On form submission":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Gmail1","type":"main","index":0}],[{"node":"Gmail2","type":"main","index":0}]]},"If":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aa98baeb-cd94-4b27-94c0-1d8308fb63d1","triggerCount":2,"tags":[]}