miancho---form-oj5llUvxxV1cSlTY.json
{"createdAt":"2024-11-23T20:26:26.140Z","updatedAt":"2024-12-02T18:13:50.000Z","id":"oj5llUvxxV1cSlTY","name":"Miancho - Form","active":true,"nodes":[{"parameters":{"formTitle":"Formulario Prueba","formDescription":"Consulta de producto.","formFields":{"values":[{"fieldLabel":"¿Cual es tu nombre?","placeholder":"tu nombre","requiredField":true},{"fieldLabel":"¿Cual es tu mail?","fieldType":"email","requiredField":true},{"fieldLabel":"¿Qué servicio necesitas?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Página Web"},{"option":"Chatbot"},{"option":"Automatizaciones."}]},"requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Enviar!"}},"id":"21bc0cea-275a-42f7-9a61-c0b30ce1de96","name":"On form submission","type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[1140,520],"webhookId":"e2bbdde0-30f9-404d-851d-a8178978d934"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1CF3skmfov-GfS6hIb2xnMgDZAX21StmjArBxOzFjnXA","mode":"list","cachedResultName":"Formulario N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CF3skmfov-GfS6hIb2xnMgDZAX21StmjArBxOzFjnXA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"respuestas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1CF3skmfov-GfS6hIb2xnMgDZAX21StmjArBxOzFjnXA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $json['¿Cual es tu nombre?'] }}","Mail":"={{ $json['¿Cual es tu mail?'] }}","Servicio":"={{ $json['¿Qué servicio necesitas?'] }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"f547025b-7eb6-4de6-b522-818285cb1831","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1500,520],"credentials":{"googleSheetsOAuth2Api":{"id":"F6rA9c8tvcahvOdW","name":"Google Sheets - Miancho"}}},{"parameters":{"sendTo":"={{ $json.Mail }}","subject":"Hola, estas interesado en Paginas Web","message":"Acá iría el explicativo","options":{}},"id":"a6747c9a-7d79-4912-8913-1ed365d61e14","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2280,160],"webhookId":"54ff8d12-9611-4857-8dde-169aaa113f94","credentials":{"gmailOAuth2":{"id":"ILkhg6xFaD5p234c","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $json.Mail }}","subject":"Hola, estas interesado en Chatbots","message":"Acá iría el explicativo de Chatbots","options":{}},"id":"8d4770f9-0981-4b87-83cc-4fb18f85decb","name":"Gmail1","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2280,380],"webhookId":"54ff8d12-9611-4857-8dde-169aaa113f94","credentials":{"gmailOAuth2":{"id":"ILkhg6xFaD5p234c","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $json.Mail }}","subject":"Hola, estas interesado en Automatizaciones","message":"Acá iría el explicativo de Automatizaciones","options":{}},"id":"be18d08b-5d44-4d05-83d0-7260d41066d2","name":"Gmail2","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2280,580],"webhookId":"54ff8d12-9611-4857-8dde-169aaa113f94","credentials":{"gmailOAuth2":{"id":"ILkhg6xFaD5p234c","name":"Gmail account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Servicio }}","rightValue":"Página Web","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Página Web"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8aae7d8b-16bf-4467-beb5-d3d71880cd49","leftValue":"={{ $json.Servicio }}","rightValue":"Chatbot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Chatbot"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb67c4f4-e84b-42d3-82d0-4fe716c5c231","leftValue":"={{ $json.Servicio }}","rightValue":"Automatizaciones","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Automatizaciones"}]},"options":{}},"id":"de81ef9c-4f03-4ba8-8629-fe72ff66e326","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1840,520]}],"connections":{"On form submission":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Gmail","type":"main","index":0}],[{"node":"Gmail1","type":"main","index":0}],[{"node":"Gmail2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"276e1267-03d6-4afe-949e-7eb556e1ef74","triggerCount":2,"tags":[]}