miancho_rag-ai-agent.json
{"createdAt":"2024-10-10T18:39:07.069Z","updatedAt":"2024-10-12T17:04:00.000Z","id":"n4MooeKi2l2tU7l3","name":"miancho_RAG AI Agent","active":true,"nodes":[{"parameters":{"model":"gpt-4o-mini","options":{"temperature":1}},"id":"12883b0d-d826-4f11-bb64-260a8faced9b","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[860,760],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"2a0cf522-8593-4e8d-a670-f063838b11fa","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1220,1300]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"b800d466-618d-43fd-b1b0-ced165c87c84","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[920,1360],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{"name":"user_documents","description":"It contains all the user's documents that they can consult for context to answer their questions.","topK":20},"id":"1c4d007d-33c3-418c-9a2a-747426d70cc4","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[640,580]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"aed1044d-fbd6-4449-8d6f-cb40329b5cc3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2250.2923813387943,"color":5},"id":"d848f733-aca7-43ed-8e84-6e23aee60571","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-760,1000]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"e0bdfdc5-bf6a-4b47-a8a8-492a677c6396","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[340,1180],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg","mode":"list","cachedResultName":"Miancho","cachedResultUrl":"https://drive.google.com/drive/folders/1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg"},"event":"fileCreated","options":{}},"id":"9b5492c4-a08f-4862-afef-5e2723224e72","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,1080],"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg","mode":"list","cachedResultName":"Miancho","cachedResultUrl":"https://drive.google.com/drive/folders/1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg"},"event":"fileUpdated","options":{}},"id":"26a48aa5-485e-4034-aca7-36ea4579a6a5","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,1300],"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"3717e99d-5043-42ff-b2ab-f7b542f8adb0","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[660,1180],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"ad36dcdb-3794-4e7d-b4bf-1c8a719ac27c","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[680,860],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{"chunkOverlap":250,"options":{}},"id":"2e0fe44d-582a-4040-8f79-86d345e8c562","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1220,1500]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"225b107a-5dbd-4330-9576-739dfd44ab0b","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[40,1180],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSyIHiQk4VEvR6Zn","name":"Miancho Supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"a60984ea-14ef-433b-bc04-770ddd010b3e","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-280,1180]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"7e9940db-5d28-4302-a142-3fd1b20ff181","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,520]},{"parameters":{},"id":"f7332871-b288-4543-9632-fcdab886c968","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[240,820],"credentials":{"postgres":{"id":"59ZmDKOhUmKd3nQc","name":"Miancho Postgres account"}}},{"parameters":{"model":"gpt-4o-mini","options":{"temperature":0.7}},"id":"e7bceccd-65d0-446a-8f2f-39d14a95c75d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[60,820],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{"public":true,"mode":"webhook","options":{}},"id":"a3c5331f-907d-41ba-bcd4-0c1e0f527799","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-200,640],"webhookId":"2d62a212-c0e3-4bbc-a57c-12af1a8cbfe9"},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"3c917081-0632-4e15-be80-c66460c01953","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[520,740],"credentials":{"supabaseApi":{"id":"PSyIHiQk4VEvR6Zn","name":"Miancho Supabase"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"a6945b4b-9116-46c0-aa43-6bf5cf852297","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1020,1100],"credentials":{"supabaseApi":{"id":"PSyIHiQk4VEvR6Zn","name":"Miancho Supabase"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are Miancho, the virtual assistant of AI Miancho, an expert in automation and artificial intelligence. Your task is to answer accurately and comprehensively all questions from visitors about AI Miancho using as context the information provided in the documents. Maintain a professional, clear and friendly tone in all your answers. If the information is not found in the documents, politely indicate that you do not have the answer at that time but will do your best to obtain it."}},"id":"ebc54c5a-8aa7-4d76-bb8a-ba8e98c5fb2a","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[140,600]}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2024-10-12T21:27:25Z"},"node:File Updated":{"lastTimeChecked":"2024-10-12T21:27:25Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"11d34aad-2a67-451a-b76a-cffd4f35ec15","triggerCount":4,"tags":[]}