miancho-rag-yr90jphh3qv2GTGg.json
{"createdAt":"2024-11-19T00:14:03.936Z","updatedAt":"2024-12-21T23:35:32.000Z","id":"yr90jphh3qv2GTGg","name":"Miancho Rag","active":false,"nodes":[{"parameters":{"options":{"temperature":1}},"id":"925f14d4-1186-4461-9877-5a452f6d4064","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[860,760],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"f57206ef-57a0-4256-8bf0-ff3d69aa5104","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1220,1300]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"2a9979fa-18ec-4a8d-9fa2-99c22f0f7b5c","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[920,1360],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"name":"user_documents","description":"It contains all the user's documents that they can consult for context to answer their questions.","topK":20},"id":"23c56343-ae09-40b6-ae0c-8db1bcc85410","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[640,580]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"70664f66-b8e4-4d03-871f-23bcdadfe812","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2250.2923813387943,"color":5},"id":"657fb25f-41ef-4c4e-b65a-6d116f955ef0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-760,1000]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"acac8438-c58a-4fe7-b602-9771f2a6738e","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[340,1180],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg","mode":"list","cachedResultName":"Miancho","cachedResultUrl":"https://drive.google.com/drive/folders/1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg"},"event":"fileCreated","options":{}},"id":"ed621e38-68f2-444a-bb0a-7b890dd3a557","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,1080],"credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg","mode":"list","cachedResultName":"Miancho","cachedResultUrl":"https://drive.google.com/drive/folders/1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg"},"event":"fileUpdated","options":{}},"id":"b6ca2c3a-1753-462d-82a8-5b0db91637ff","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,1300],"credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"operation":"text","options":{}},"id":"1395b20b-cbd6-41c0-8b1e-ee433653168a","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[660,1180],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"8b54d136-86e6-4adc-83c0-e6bb506c0dd2","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[680,860],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"chunkOverlap":250,"options":{}},"id":"5bffc3b8-c0fc-45f0-8f21-46fd7c414211","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1220,1500]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"00b2e735-b884-4a4e-b525-12ffe4c05c9d","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[40,1180],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"5IqgqSDIPfu9AcJq","name":"Supabase Miancho"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"5e37ed9c-30d7-4fd1-bb57-800e4b4146af","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-280,1180]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"b87501b8-27d1-4a32-9cf4-5f957e691ef9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,520]},{"parameters":{},"id":"db036ed1-c0cb-41fc-945b-22a13ea92f31","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[240,820],"credentials":{"postgres":{"id":"T3JA5qmOGOrgmcpJ","name":"Postgres Miancho"}}},{"parameters":{"options":{"temperature":0.7}},"id":"89e73513-3ef2-4a55-9068-c068c71cb2dc","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[60,820],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"public":true,"mode":"webhook","options":{}},"id":"005a97e9-c3d8-41e8-b406-df7ca3bb7e77","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-200,640],"webhookId":"2d62a212-c0e3-4bbc-a57c-12af1a8cbfe9"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"411b16d7-e486-4c3c-b03c-1b0627a8b8ec","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1020,1100],"credentials":{"supabaseApi":{"id":"5IqgqSDIPfu9AcJq","name":"Supabase Miancho"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"755bd13d-62ed-43e6-ac3a-68395cead1f9","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[520,740],"credentials":{"supabaseApi":{"id":"5IqgqSDIPfu9AcJq","name":"Supabase Miancho"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are Miancho, the virtual assistant of AI Miancho, an expert in automation and artificial intelligence. Your task is to answer accurately and comprehensively all questions from visitors about AI Miancho using as context the information provided in the documents. Maintain a professional, clear and friendly tone in all your answers. If the information is not found in the documents, politely indicate that you do not have the answer at that time but will do your best to obtain it."}},"id":"46378230-02d4-4a98-beb0-8955415bbbe6","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[140,600]}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2024-12-17T22:21:54Z"},"node:File Updated":{"lastTimeChecked":"2024-12-17T22:21:54Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9bc5a97-dbd9-442c-90eb-2137af18318f","triggerCount":4,"tags":[]}