miancho-rag-system-2.0-5m5ZAXj6ItiYnIxI.json
{"createdAt":"2024-12-10T10:05:07.346Z","updatedAt":"2024-12-23T15:52:15.000Z","id":"5m5ZAXj6ItiYnIxI","name":"Miancho Rag System 2.0","active":true,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"863af9a4-5ab4-40ad-8ff9-efcdc15e34c4","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3320,2620]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"46b5d3e5-6089-47aa-8000-242dd185da91","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[3520,2620]},{"parameters":{"operation":"pdf","options":{}},"id":"96561600-a15b-4d8d-b614-f16dfe9ef054","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3120,2280]},{"parameters":{"operation":"xlsx","options":{}},"id":"f641f59e-3c89-4411-85c4-fb4873e7702f","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3120,2620]},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Updated').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Updated').item.json.mimeType }}","type":"string"}]},"options":{}},"id":"a9e56e84-1e09-44a0-8ba6-3578ab0e8d4e","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,3440]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $('Set File ID').item.json.file_id }}*"},"id":"26331c87-28e4-4dfe-8a12-9f8202e9138d","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2140,3440],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"5IqgqSDIPfu9AcJq","name":"Supabase Miancho"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"d7180d7e-c826-4cee-becc-8239134dfba9","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3080,3600],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID1').item.json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Set File ID1').item.json.name }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"bf6730b3-5adb-43d6-81d3-4958967f59cc","name":"Convert to Google Doc1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3120,2800],"credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"928b5cae-77cd-48a2-81ef-2f76dc441b0a","leftValue":"={{ $('File Updated').item.json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6368b5ad-32b0-491d-a27d-5cc3ad5c2a11","leftValue":"={{ ((Date.now() - Date.parse($('File Updated').item.json.createdTime)) / 1000) }}","rightValue":60,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,3440],"id":"22d99702-dbfe-4933-91bf-ae8946f92cc6","name":"If","onError":"continueRegularOutput"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Set File ID1').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3320,2800],"id":"46467b64-5526-4d33-9692-7fdba84d2ae6","name":"Delete File","credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Created').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Created').item.json.mimeType }}","type":"string"}]},"options":{}},"id":"4042b02f-ae8a-491d-947e-2cffd6891929","name":"Set File ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,2580]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID1').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"b6655cf0-b876-452d-9fa1-cd51fd4c77e8","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2140,2740],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"74e692de-9292-4269-b004-8fcbb9a4f4b9","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3840,3540]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"36bb3adc-6fc6-4ce1-9321-b0050eb30202","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[4040,3540]},{"parameters":{"operation":"pdf","options":{}},"id":"d3f04e6b-23be-4eed-a51c-dc6db39fc775","name":"Extract PDF Text1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3640,3200]},{"parameters":{"operation":"xlsx","options":{}},"id":"9293518b-1c75-429f-95f6-53ce140f23d7","name":"Extract from Excel1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3640,3540]},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID').item.json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Set File ID').item.json.name }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"89e3fa7d-d715-4cbb-8815-f1cadff90788","name":"Convert to Google Doc2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3640,3740],"credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3840,3740],"id":"75d24faf-7d9e-4025-97d1-a11de6cf1892","name":"Delete File1","credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"chunkSize":2000,"chunkOverlap":200,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[3980,2660],"id":"e2777af1-da0b-46da-80c5-b834bad4d37a","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[3740,2600],"id":"f6256d9b-3073-43d0-891d-70ca71988618","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"chunkSize":2000,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[4620,3660],"id":"9d7cc7d0-ff5f-45a6-b076-96795a61cf23","name":"Recursive Character Text Splitter1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[4360,3520],"id":"b582c309-6c9b-49d4-94ea-252ece0414b1","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"content":"# Watch Trigger (Drive) - Files Created\n## Files created in a specific folder -> Check file type and do conversion if necessary -> Extract the text -> Add to Vector Store\nDrive/Backoffice/Backoffice_Contracts","height":740,"width":2660,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1540,2220],"typeVersion":1,"id":"c2eac98a-e8ec-4601-bf82-d4825246011c","name":"Sticky Note1"},{"parameters":{"content":"# Watch Trigger (Drive) - Files Updated\n## Files updated in a specific folder -> Check file type and do conversion if necessary -> Extract the text -> Add to Vector Store\nDrive/Backoffice/Backoffice_Contracts","height":888.3491772897637,"width":3306.7699150920453,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1540,3100],"typeVersion":1,"id":"7972fedb-f22d-4d5b-aa43-39ef73a4c14c","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1980,2580],"id":"368c5cb4-0064-4f02-9044-381bc94d3225","name":"Loop Over Items"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID1').item.json.file_id }}"},{"name":"=version","value":"v1"},{"name":"=creator","value":"={{ $('File Created').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Created').item.json.createdTime }}"},{"name":"last_modified","value":"={{ $('File Created').item.json.modifiedTime }}"},{"name":"folder_path","value":"projects"},{"name":"file_name","value":"={{ $('File Created').item.json.name }}"},{"name":"file_extension","value":"={{ $('File Created').item.json.mimeType }}"}]}}},"id":"8d03f1bb-c607-47d6-a696-ab68ada2c1ba","name":"Enhanced Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[3900,2500]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"},{"name":"=version","value":"={{ $('Set Version').item.json.message.content.version }}"},{"name":"=creator","value":"={{ $('File Updated').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Updated').item.json.createdTime }}"},{"name":"=last_modified","value":"={{ $('File Updated').item.json.modifiedTime }}"},{"name":"=folder_path","value":"projects"},{"name":"=file_name","value":"={{ $('File Updated').item.json.name }}"},{"name":"=file_extension","value":"={{ $('File Updated').item.json.mimeType }}"}]}}},"id":"6774cb19-ee53-416b-a776-63faa11b0ef0","name":"Enhanced Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[4540,3440]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2920,3440],"id":"927f78e7-a29d-403f-9e7c-11c9c70a4fbd","name":"Loop Over Items1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg","mode":"list","cachedResultName":"Miancho","cachedResultUrl":"https://drive.google.com/drive/folders/1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg"},"event":"fileCreated","options":{}},"id":"a10a2054-632c-4b71-a558-52b2a249c16d","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[1620,2580],"credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg","mode":"list","cachedResultName":"Miancho","cachedResultUrl":"https://drive.google.com/drive/folders/1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg"},"event":"fileUpdated","options":{}},"id":"07221958-c5a5-4da7-9684-f7ecce904851","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[1580,3440],"credentials":{"googleDriveOAuth2Api":{"id":"u0UeuQuLj2zO1wVa","name":"Google Drive Miancho"}}},{"parameters":{"operation":"text","options":{}},"id":"a7ad0a7f-bdc3-45b5-a925-c6b77bdfbb1c","name":"Extract from Text File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3120,2440],"alwaysOutputData":true},{"parameters":{"operation":"text","options":{}},"id":"b0bddf43-9cdf-47d1-af14-2e6a0c0aa1db","name":"Extract from Text File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3640,3360],"alwaysOutputData":true},{"parameters":{},"id":"20b1fed1-916d-4f40-ae37-16e03e5208f1","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[2300,3440]},{"parameters":{"options":{}},"id":"60e4cf88-e624-4078-95e1-2eb8722a4223","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1960,1560],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"contextWindowLength":10},"id":"09c47410-2db5-4dce-b5db-89d0a648aaed","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[2120,1560],"credentials":{"postgres":{"id":"T3JA5qmOGOrgmcpJ","name":"Postgres Miancho"}}},{"parameters":{"name":"database","description":"retrieves data about projects"},"id":"8e7e0613-bfc0-465e-861a-5b94af5ea2fe","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2280,1560]},{"parameters":{"options":{}},"id":"175c1afe-2257-4496-b0ac-c60069586267","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2420,1720],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"options":{}},"id":"0d12d096-01ff-4203-aa1e-7d7cd03287f5","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[2140,1860],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"content":"# RAG AI Agent\n","height":847.7499999999999,"width":1262.1803336071664},"id":"3a3924ff-a080-4934-8d5a-fad3a2ec79fc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1540,1240]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text File"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(1)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(2)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(3)"}]},"options":{"fallbackOutput":2}},"id":"a26b2759-ae7f-4331-9be4-7f9445af8e1d","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2540,2500]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text File"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(1)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(2)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(3)"}]},"options":{"fallbackOutput":2}},"id":"8c4e5bdf-ace8-4103-a378-cd4a0c743330","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[3340,3420]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"=documents","mode":"id"},"options":{"queryName":"match_documents"}},"id":"623f6640-c1af-4645-b1d9-9a88d7cc1dad","name":"Insert into Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[3720,2300],"credentials":{"supabaseApi":{"id":"5IqgqSDIPfu9AcJq","name":"Supabase Miancho"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"ad58b297-dc2d-4794-b6d3-b0dfab18fe7f","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[4320,3200],"credentials":{"supabaseApi":{"id":"5IqgqSDIPfu9AcJq","name":"Supabase Miancho"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"d978a0ed-0fe8-48ee-809d-d1e1a7370b69","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2140,1720],"credentials":{"supabaseApi":{"id":"5IqgqSDIPfu9AcJq","name":"Supabase Miancho"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You goal is to take the incoming version number and add 1 to it.\n\n[Examples]\nInput: v1\nOutput: v2\n\nInput: v3\nOutput: v4\n\nInput: v5\nOutput: v6\n\nThe output field should always be called \"version\"","role":"system"},{"content":"=Incoming version number: {{ $json.metadata.version }}"}]},"jsonOutput":true,"options":{}},"id":"13f1c029-f092-4fa6-9d79-45209948c88c","name":"Set Version","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2500,3440],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a helpful assistant"}},"id":"aa83dbdc-c3b5-4a9b-97ad-a70f1d9a88a0","name":"New RAG Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2080,1340]},{"parameters":{"public":true,"mode":"webhook","options":{}},"id":"398387b2-cf45-4724-afa7-6247ea5cb537","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1640,1340],"webhookId":"e9325791-143d-4aea-be69-160d6bbf9653"}],"connections":{"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"If","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Convert to Google Doc1":{"main":[[{"node":"Delete File","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Set File ID1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download File1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Extract from Excel1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Convert to Google Doc2":{"main":[[{"node":"Delete File1","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Enhanced Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Enhanced Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Extract PDF Text1":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Download File1","type":"main","index":0}]]},"Enhanced Default Data Loader1":{"ai_document":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_document","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Download File","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID1","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract from Text File":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract from Text File1":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Set Version","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"New RAG Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"New RAG Agent","type":"ai_memory","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"New RAG Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Switch2":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Text File","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Convert to Google Doc1","type":"main","index":0}],[{"node":"Convert to Google Doc1","type":"main","index":0}],[{"node":"Convert to Google Doc1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text1","type":"main","index":0}],[{"node":"Extract from Text File1","type":"main","index":0}],[{"node":"Extract from Excel1","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}]]},"Enhanced Default Data Loader2":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Set Version":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"New RAG Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2024-12-24T02:31:00Z"},"node:File Updated":{"lastTimeChecked":"2024-12-24T02:31:01Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"24bc4d64-e1c5-41c0-a686-7bf21811e38a","triggerCount":4,"tags":[]}