miancho-rag-drive-pdfexcel.json
{"createdAt":"2024-10-10T23:54:05.877Z","updatedAt":"2024-10-12T23:20:03.000Z","id":"HWX3ZbRuHQFT7Cji","name":"miancho-rag-drive-PDFExcel","active":false,"nodes":[{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"21473383-9a75-4869-8f89-cb50247a1f23","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-160,820],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"f09259bb-6afb-4e3f-8de9-441f04d62b11","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[860,760],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"}]}}},"id":"bd11882c-094d-455a-b859-ec569c585e11","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1300,1300]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"01e23805-9e30-40ef-850f-05b6bd1bb966","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1140,1300],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"0773910a-5f90-4a57-9d84-94e048102184","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[640,580]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"ea07da79-fd33-495a-a514-ffe1b552f499","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.1104380931955,"width":2352.5048970686776,"color":5},"id":"32a265e2-b36f-4f06-8c36-dd7c6137179b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-760,1040]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"cf6ac33c-d5d6-4799-b8bf-c704c31053d6","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[60,1260],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg","mode":"list","cachedResultName":"Miancho","cachedResultUrl":"https://drive.google.com/drive/folders/1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg"},"event":"fileCreated","options":{}},"id":"870c25b8-0594-4c85-9fb0-2d62c2ed41ac","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,1160],"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg","mode":"list","cachedResultName":"Miancho","cachedResultUrl":"https://drive.google.com/drive/folders/1wU5NReIEADHFY8DPcD7HG2SD0wmHdUzg"},"event":"fileUpdated","options":{}},"id":"92f72761-d965-4b41-a3e0-86b7fd1953ef","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,1380],"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"205e1b77-21a2-4700-9914-d0875c7cfe6c","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[820,1460],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"d2b586a8-5cae-46b0-9efb-e7a86177da3f","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[680,860],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}},{"parameters":{},"id":"0a959477-cc77-477d-bb6b-38fab5f73de4","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-20,820],"notesInFlow":false,"credentials":{"postgres":{"id":"59ZmDKOhUmKd3nQc","name":"Miancho Postgres account"}}},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"03026842-6cc5-4937-a44e-b676d791bbc4","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-180,1260],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PSyIHiQk4VEvR6Zn","name":"Miancho Supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"}]},"options":{}},"id":"2f3e8ee1-2e82-451b-9d40-c5283f79a889","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,1260]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484},"id":"42e3a89e-01b3-4f51-80c0-7bfb51ae2fd9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-587.5058685188231,520]},{"parameters":{"options":{}},"id":"afa8b5f9-21bd-42c4-b421-7df439911995","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[280,600]},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"d5425ff3-fa32-4977-9c88-5be404e4fdbf","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-280,600]},{"parameters":{"operation":"pdf","options":{}},"id":"ed404581-0f26-4d78-8c10-3b38bc38af20","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[820,1080]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"86e304c1-0539-41ab-898d-ea0bdfddaaf9","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[740,1260]},{"parameters":{},"id":"94082ba7-06aa-4b9a-a70f-4cfa6fe86e28","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1300,1520]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"bf06ea3b-4121-4100-aad0-bd3dd57c9987","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[900,1260]},{"parameters":{"operation":"xlsx","options":{}},"id":"3206f468-59be-4af5-833f-ee90180ccf44","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[580,1260]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"372fbe61-39fd-4f8e-89aa-889564eb5fed","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[520,740],"credentials":{"supabaseApi":{"id":"PSyIHiQk4VEvR6Zn","name":"Miancho Supabase"}}},{"parameters":{"httpMethod":"POST","path":"9ba11544-5c4e-4f91-818a-08a4ecb596c5","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"d4672388-3174-4408-b398-b27646df7707","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-540,800],"webhookId":"9ba11544-5c4e-4f91-818a-08a4ecb596c5"},{"parameters":{"public":true,"options":{}},"id":"62de260e-d5ca-4d2e-8b25-0e34c5258336","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-540,600],"webhookId":"15e4d662-3f98-48d0-9f50-68838769ecac"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."}},"id":"0fb24c99-3e0e-4e41-acfc-8189029aed78","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-60,600]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":2}},"id":"5d5d8e0e-7d0d-40cd-8432-d3f5de2f2919","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[280,1260]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"=match_documents"}},"id":"b407c907-1ebe-4536-bded-aa7403346f44","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1180,1080],"credentials":{"supabaseApi":{"id":"PSyIHiQk4VEvR6Zn","name":"Miancho Supabase"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a0baf2b-499b-4220-8ce3-6aa16b82259a","triggerCount":0,"tags":[]}