my-workflow-2.json
{"createdAt":"2024-10-06T11:42:53.593Z","updatedAt":"2024-10-06T12:27:25.000Z","id":"LslUXVFW6EwYm8nF","name":"My workflow 2","active":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1bzMKaQLTRnFSBX63oDgwYbk6Bkx_uLtZ","mode":"list","cachedResultName":"oak & barrel","cachedResultUrl":"https://drive.google.com/drive/folders/1bzMKaQLTRnFSBX63oDgwYbk6Bkx_uLtZ"},"event":"fileCreated","options":{}},"id":"fb9f6808-b274-449f-afd5-87604693eb00","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[1160,560],"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"1e19846b-c16d-4c49-9f83-6d53bb7a8f11","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1380,560],"credentials":{"googleDriveOAuth2Api":{"id":"EU5m2yVmMGx5QA5r","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n"},"options":{"pineconeNamespace":"Oak & Barrel"}},"id":"2b470db4-3844-4fc2-af77-6212b592c215","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1600,560],"credentials":{"pineconeApi":{"id":"eg2oJL2kIVhq46XD","name":"PineconeApi account"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"a723356e-7527-4349-a7d8-5a82539643d7","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1600,780],"credentials":{"openAiApi":{"id":"Y7KBTYQBKW2LxWmE","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"file","value":"={{ $json.name }}"}]}}},"id":"a3c7a5f9-35fb-43b4-8134-9b8e6d469004","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1800,780]},{"parameters":{"chunkSize":500,"chunkOverlap":20,"options":{}},"id":"c84ca281-eed6-4865-a442-abbd2534cd29","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1800,1000]}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2024-10-12T21:27:23Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d3b681ce-3e08-494e-b248-bff71ab5ffca","triggerCount":1,"tags":[]}