my-workflow-uRmbD2FD4o2LHPju.json
{"createdAt":"2024-12-11T23:19:07.882Z","updatedAt":"2024-12-12T11:09:54.000Z","id":"uRmbD2FD4o2LHPju","name":"My workflow","active":false,"nodes":[{"parameters":{"updates":["messages"]},"id":"6366f41d-2a9f-43bc-88df-a5806b89e554","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[1040,540],"webhookId":"feadee8d-fc2d-400a-a621-f79a5f00dfce","credentials":{"whatsAppTriggerApi":{"id":"GSyLHtLn99WkprX5","name":"WhatsApp OAuth account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7230f2cf-abc8-423a-860c-c2266b5195cb","leftValue":"={{ $json.messages[0].audio.voice }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ef95824-8041-440b-b29c-c4b6f2c3218e","leftValue":"={{ $json.messages[0].type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"id":"3164a310-d24a-4772-8258-09d5fb213e1f","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1320,540]},{"parameters":{"assignments":{"assignments":[{"id":"11207476-5d25-4bcf-8331-49eff71dd0ab","name":"input","value":"={{ $json.messages[0].text.body }}","type":"string"}]},"options":{}},"id":"30cebd97-a38d-4e9f-8dbb-dc88e7ce5023","name":"Texto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,260]},{"parameters":{"options":{}},"id":"717cf400-23d5-47e9-9d08-f666221e2801","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1860,440],"webhookId":"f2db982f-f0b7-4d5c-8ebc-86f0035120b1"},{"parameters":{"options":{}},"id":"44cad041-79a1-4a59-a757-1b33146dd6bc","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2080,560],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.input }}"},"id":"25cdfb5d-c6ca-4efa-9c77-972db44e9c5c","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[2200,600]},{"parameters":{"promptType":"define","text":"={{ $json.input }}","options":{"systemMessage":"Eres un degustador de helados"}},"id":"6343af44-7c7e-4ab8-b0e7-0659e994f82e","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2080,340]},{"parameters":{"content":"### Mensage de Texto","height":206,"width":178,"color":4},"id":"613b87a6-2f77-4d04-a098-dcc00c9872ef","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1560,200]},{"parameters":{"content":"## Tool: DALE","height":286,"width":711,"color":4},"id":"2c6ca8b6-2fe8-42db-84d6-a93d794331e7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[893,840]},{"parameters":{},"id":"766382ef-f940-4f41-b5d4-15a4147bc438","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[940,920]}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Texto","type":"main","index":0}]]},"Texto":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"03800c4c-cab4-4a1f-bb97-8bdfd8985fd8","triggerCount":0,"tags":[]}