my-workflow.json
{"createdAt":"2024-10-05T23:52:55.572Z","updatedAt":"2024-10-06T00:04:26.000Z","id":"6gHzRyp9Gm3gzVAe","name":"My workflow","active":false,"nodes":[{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"58b76b53-d494-4c7c-b7af-5842f69847e2","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[40,820],"credentials":{"openAiApi":{"id":"Y7KBTYQBKW2LxWmE","name":"OpenAi account"}}},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"f7d2f616-7698-4acc-8a0c-78fea600bd2f","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[860,760]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"60522ff7-e568-4682-ae51-2e14600c01db","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1000,1300]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"58a3de1c-25df-46ab-b88c-43d6d76fbd1b","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[840,1300]},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"bdc1c1ed-5c96-4e5f-a73f-922ee3248369","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[640,580]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"c4d9114b-797f-4175-b202-078366b20a3d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"cc3dbbf2-48fe-45ba-aa4b-b1d1b5c4a260","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-760,1000]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"247e5e48-7bfc-4f70-a00f-f246d23cf164","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[340,1180],"executeOnce":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC","mode":"list","cachedResultName":"Meeting Notes","cachedResultUrl":"https://drive.google.com/drive/folders/1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC"},"event":"fileCreated","options":{}},"id":"b4dfbb2a-a5cd-4fdc-857a-aa46a5f8ed5e","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,1080],"credentials":{"googleDriveOAuth2Api":{"id":"UjRFsUsrLEMTgZ55","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC","mode":"list","cachedResultName":"Meeting Notes","cachedResultUrl":"https://drive.google.com/drive/folders/1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC"},"event":"fileUpdated","options":{}},"id":"ce7fd22f-11bb-49eb-b9b0-46b9a7e27236","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,1300],"credentials":{"googleDriveOAuth2Api":{"id":"UjRFsUsrLEMTgZ55","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"b20185e3-1ef7-4afe-aa90-adf5d55cb857","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[600,1180],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"8a87670a-a3db-490a-bccf-2c8b5e1039c7","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[680,860]},{"parameters":{},"id":"9f9495c7-47bf-4d4b-bbb3-406827e35579","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[180,820],"notesInFlow":false,"credentials":{"postgres":{"id":"79BmVpk72v7ztREJ","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"46c65a43-e934-4df4-9414-8cc9118366e2","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1000,1500]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"471431d6-5abf-43e5-ad7f-d64092cd1b11","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[40,1180],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"e3aa0ef6-6b14-45d3-a3f0-f52c3db6a852","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-280,1180]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"0e475d2e-fe9c-40bd-9eb7-bd6fae207d39","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,520]},{"parameters":{"public":true,"options":{}},"id":"fa9aad6d-4936-4972-8864-1aad76390ca2","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-180,600],"webhookId":"e985d15f-b2f6-456d-be15-97e0b1544a40"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."}},"id":"d32ef249-f14d-4119-a194-6d8bcb129dc0","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[140,600]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"d70e18ae-a950-444e-8ae3-931e77c17913","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[520,740]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"d7a9cbcb-e098-4af2-ad6f-a1f1112f19b9","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[880,1080],"credentials":{"supabaseApi":{"id":"3A2X9oV7aDvCLzHJ","name":"Supabase account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6b61c6ef-59ee-46a8-bdba-223e31c7eafb","triggerCount":0,"tags":[]}