send_email.json
{"createdAt":"2024-09-27T21:01:18.616Z","updatedAt":"2024-10-13T01:34:40.000Z","id":"SaTwVb6Bu5coAugD","name":"send_email","active":false,"nodes":[{"parameters":{},"id":"85a3ac9b-32a5-4bf6-a1e8-9acb473270e4","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1080,480]},{"parameters":{"sendTo":"={{ $json.message.content.sendTo }}","subject":"={{ $json.message.content.subject }}","emailType":"text","message":"={{ $json.message.content.message }}","options":{"appendAttribution":true,"bccList":"={{ $json.message.content.bccList }}","ccList":"={{ $json.message.content.ccList }}","senderName":"Damian"}},"id":"ee964367-375d-43ad-9809-1e92ea691d4a","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1760,480],"credentials":{"gmailOAuth2":{"id":"tFx5W0Yzx3t84OH1","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"86bf78f7-1ddc-44d0-b8ac-096120cec413","name":"response","value":"Sent","type":"string"}]},"options":{}},"id":"4cd3b6bb-fbeb-4dbf-8620-511010f9a0b2","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,480]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"parse the 'query' and output the parameters separately.","role":"system"},{"content":"={{ JSON.stringify($json.query) }}"}]},"jsonOutput":true,"options":{}},"id":"6f481388-c6b9-47cd-9f16-6dd6015e20c7","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[1300,480],"credentials":{"openAiApi":{"id":"cZkDB2Y47EzdQyh1","name":"Miancho OpenAi"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"query":"sendTo=&subject=&emailType=text&message=&appendAttribution=false&bccList=&ccList=&senderName="}}]},"versionId":"89bed27f-aae1-4d42-93d2-f81cec937e71","triggerCount":0,"tags":[]}