whatsapp-evolution-iJskVkGSGLvR9Kdi.json
{"createdAt":"2024-12-17T14:23:21.811Z","updatedAt":"2024-12-18T18:18:44.000Z","id":"iJskVkGSGLvR9Kdi","name":"Whatsapp-Evolution","active":false,"nodes":[{"parameters":{},"id":"e867a2c9-b072-46ce-9d65-a36c542adebc","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[860,600]},{"parameters":{"model":"gpt-4o-mini-2024-07-18","options":{}},"id":"4a51015e-eb48-446c-8d1a-684cb8aaa1b0","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[740,600],"credentials":{"openAiApi":{"id":"a6L5E69NelIoYLLx","name":"OpenAi Miancho"}}},{"parameters":{"httpMethod":"POST","path":"69d6683b-55ed-47e1-ad36-dce7a7e1c751","responseMode":"lastNode","options":{}},"id":"ab0040d4-129c-43f2-804c-b3d7735927d2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[580,340],"webhookId":"69d6683b-55ed-47e1-ad36-dce7a7e1c751"},{"parameters":{"promptType":"define","text":"=El usuario necesita información sobre: {{ $('Webhook').item.json.body.data.message.conversation }}","options":{"systemMessage":"=Eres un asistente muy amable de la comunidad AI Miancho. Ayudas a Miancho a gestionar sus citas de consultoría.\n\nRespuestas muy cortas y concisas. Sin ningún tipo de caracter especial\nNo añadas enlaces de ningún tipo. Solo la información que te he dicho.\n\nNo des cita en días festivos de argentina. Si el usuario te pide cita tiene que darte un datetime_start y tu tienes que devolver un datetime_end que es 60 minutos más que el datetime_start\n\nAntes de confirmar una cita pide el nombre al usuario.\n\nMiancho es una comunidad privada de Valen en la que hay personas profesionales de la inteligencia artificial, el marketing y los negocios online. Para acceder hay que hacerlo a través de su web miancho.com y realizar un pago anual.\n\nMiancho también tiene una academia en la que tenemos cursos de automatizaciones de procesos con N8N.\n\nSomos más de 400 personas trabajando cada día para compartir información y estar a la última de los negocios online y la inteligencia artificial.\n\nLa fecha y hora de ahora mismo es: {{ $now }}"}},"id":"f9163bff-32ae-4853-a492-78cfd080eae7","name":"CITA&INFO","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[860,340]}],"connections":{"Window Buffer Memory":{"ai_memory":[[{"node":"CITA&INFO","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"CITA&INFO","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"CITA&INFO","type":"main","index":0}]]},"CITA&INFO":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"31739682-598f-4ef3-8cab-7a75a97a94e5","triggerCount":1,"tags":[]}